body {
	background-color: white;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container1 {
	background-color: #ADD8E6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width:370%;
}
.red-label {
    color: red;
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.card-box {
	background-color: linear-gradient(90deg, #0162c8, #55e7fc);
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px;
	width: 250px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	color: white;
	transition: box-shadow 0.3s ease;
}

.card-box:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles for the update profile form */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	align-items: center;
	justify-content: center;
	transition: opacity 500ms;
	opacity: 0;
	z-index: 999;
}

.overlay.active {
	display: flex;
	opacity: 1;
}

.wrapper {
	min-height: 600px;
	display: flex;
	width: 1000px;
}

.column {
	width: 70%;
	padding: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: x-large;
}

.popup-content {
	background-color: gray;
	padding: 40px;
	/* Increased padding for the popup content */
	border-radius: 10px;
	width: 90%; /* Increased width of the popup content */
	max-width: 600px; /* Added maximum width for responsiveness */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
	position: relative; /* Added relative position */
	margin: auto;
	padding: 40px; /* Center the popup horizontally */
}

.close {
	position: absolute;
	/* Position close button relative to popup content */
	top: 10px; /* Adjust top position */
	right: 10px; /* Adjust right position */
	cursor: pointer;
	background-color: red;
}

.popup-content input[type="text"], .popup-content input[type="password"],
	.popup-content input[type="submit"] {
	width: 100%;
	padding: 10px;
	font-size: 14px; /* Decreased font size of input elements */
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px; /* Adjusted margin bottom */
}

.popup-content input[type="submit"] {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.popup-content input[type="submit"]:hover {
	background-color: #0056b3;
}